In [1]:
# Importing required modules
import pandas as pd
from sqlalchemy import inspect, create_engine

### Store CSV into DataFrame

In [2]:
# Location of Csv files
appstat_loc = "Data/Final Data/final_table_all_values.csv" 
rentavg_loc = "Data/Final Data/final_table_clean.csv"
allrent_loc = "Data/Final Data/rent_application_per_condo_size.csv"

In [3]:
# Reading csv files using pandas
appstat = pd.read_csv(appstat_loc)
rentavg = pd.read_csv(rentavg_loc)
allrent = pd.read_csv(allrent_loc)
rentavg.head()

,Unnamed: 0,Year,Total,APPLICATION_TYPE,STATUS,ADDRESS,Postcode,_id,Neighbourhood,Rent
0,146,2014,"1,170",CD,Closed,2200 LAKE SHORE BLVD,M8V,115836,New Toronto,879
1,11,2016,"1,240",CD,Closed,383 SORAUREN AVE,M6R,115942,Roncesvalles,"1,202"
2,177,2016,"1,240",CD,Closed,120 GEORGE HENRY BLVD,M2J,116046,Henry Farm,"1,396"
3,54,2015,"1,208",CD,Under Review,68 LONG BRANCH AVE,M8W,116433,Long Branch,949
4,53,2015,"1,208",CD,Under Review,68 LONG BRANCH AVE,M8W,116433,Alderwood,"1,084"

### Connect to local database

In [18]:
# Connect to local data base
rds_connection_string = "postgres:postgres@localhost:5432/Housing_cost"
engine = create_engine(f'postgresql://{rds_connection_string}')

### Check for tables

In [22]:
engine.table_names()

['App_Stat', 'Rent_Avg', 'All_Rent']

### Use pandas to load csv converted DataFrame into database

In [20]:
appstat.to_sql(name='App_Stat', con=engine, if_exists='append', index=False)
rentavg.to_sql(name='Rent_Avg', con=engine, if_exists='append', index=False)
allrent.to_sql(name='All_Rent', con=engine, if_exists='append', index=False)

### Confirm data has been added by querying the customer_name table

In [21]:
pd.read_sql_query('select * from "Rent_Avg"', con=engine).head()

,Unnamed: 0,Year,Total,APPLICATION_TYPE,STATUS,ADDRESS,Postcode,_id,Neighbourhood,Rent
0,146,2014,"1,170",CD,Closed,2200 LAKE SHORE BLVD,M8V,115836,New Toronto,879
1,11,2016,"1,240",CD,Closed,383 SORAUREN AVE,M6R,115942,Roncesvalles,"1,202"
2,177,2016,"1,240",CD,Closed,120 GEORGE HENRY BLVD,M2J,116046,Henry Farm,"1,396"
3,54,2015,"1,208",CD,Under Review,68 LONG BRANCH AVE,M8W,116433,Long Branch,949
4,53,2015,"1,208",CD,Under Review,68 LONG BRANCH AVE,M8W,116433,Alderwood,"1,084"